* {
    margin: 0;
    padding: 0;
    overflow-x: none;
}

img.nltk_logo {
    margin-top: 6px;
    margin-left: 42%;
    width: 15%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin-bottom: 15px
}

img {
    max-width: 100%;
    vertical-align: middle
}

figure>img {
    display: block
}

figcaption {
    font-size: 14px
}

ul,
ol {
    margin-left: 30px
}

li>ul,
li>ol {
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300
}

a {
    color: #2a7ae2;
    text-decoration: none
}

a:visited {
    color: #1756a9
}

a:hover {
    color: #111;
    text-decoration: underline
}


pre,
code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #eef
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: scroll
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

.trigger {
    margin-left: -70%;
}


.wrapper:after,
.footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both
}

.icon>svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.icon>svg path {
    fill: #828282
}

.site-header {
    border-bottom: 1px solid #e8e8e8;
    max-height: 30vh;
    position: absolute;
    display: inline-block;
    width: 100%;

}

.site-title {
    font-size: 3vh;
    line-height: 56px;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

.site-title,
.site-title:visited {
    color: #424242
}

.site-nav {
    float: right;
    line-height: 56px
}

.site-nav .menu-icon {
    display: none
}

.site-nav .page-link {
    color: #111;
    line-height: 1.5
}

.site-nav .page-link:not(:first-child) {
    margin-left: 20px
}

.site-footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    background-color: #ffffff;
    color: #e9e9e9;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 15px
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0
}

.footer-col-wrapper {
    font-size: 15px;
    color: #828282;
    text-align: center;
}

.page-content {
    padding: 30px 0;
    background-color: #ffffff;
    color: #000000;
    margin-top: 5.4%;
    font-size: 2.5vh;
    line-height: 5vh;
}

.page-heading {
    font-size: 20px
}

@media screen and (max-device-width: 700px) {

	.wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }

    .site-nav {
        position: absolute;
        top: -167px;
        right: 17px;
        background-color: #fdfdfd;
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        text-align: right
    }

    .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }

    .site-nav .menu-icon>svg {
        width: 18px;
        height: 15px
    }

    .site-nav .menu-icon>svg path {
        fill: #424242
    }

    .site-nav .trigger {
        clear: both;
        display: none
    }

    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }

    .site-nav .page-link {
        display: block;
        padding: 5px 10px
    }
}

/*----------------------Blog Page ----------------------------*/


.article {

    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 5%;

}

.article-title {
	font-weight: 700;
	font-size: 3.2vh;
}

.article-title, .article-author{
	text-align: center;
}

.article-content {
	text-align: left;
	width: 100%;

}

.article-author, .article-content {
	font-size: 2.8vh;
	/*letter-spacing: 0.1vw;*/
	/*line-height: 1vh;*/
}

.article-divider {
	content: "";
    height: 2px;
    background: #b92b27;
    display: block;
    position: absolute;
    width: 220px;
    left: 50%;
    margin-left: -110px;
}

.article-content {
	margin-top: 8%;
}